:root {
    --primary-red: #d32f2f;       
    --hover-red: #b71c1c;         
    --bg-color: #f8f9fa;          
    --card-bg: #ffffff;           
    --text-dark: #2c3e50;         
    --text-light: #7f8c8d;        
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    --radius: 16px;             
}


/*Mobile First Layout*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*HEADER*/
header {
    background-color: var(--card-bg); 
    text-align: center;
    border-bottom: 4px solid var(--primary-red);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
    position: sticky; 
    top: 0;           
    z-index: 1000;   
    height: 100px; 
    padding-bottom: 120px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5rem;
    color: var(--text-dark);
    letter-spacing: -1px;
}


header p {
    color: var(--text-light);
    font-size: 1.0rem;
    margin-top: 0.5rem;
}


/* CONTROLS*/
#controls {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
    height: 250px;
    width: 95vw;   
}


.health-indicator {
    display: flex;
    padding-bottom: 5px;
}


.region {
    display: flex;
    padding-bottom: 15px;
}


select{
    height: 40px;
    width: 80vw;    
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
    color: var(--text-dark);
}


button {
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--primary-red);
    color: #ffffff;
    border: 0px;
    border-radius: 8px;
    width: 43vw;
}


.control-group {
    display: flex;
    flex-direction: row;
}

#btn-critical {
    margin-bottom: 15px;
    margin-right: 2px;
}

#btn-severity {
    margin-left: 2px

}

.filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* Prevents text from wrapping */
    border: 0;
}


/*LAYOUT CONTAINER */
main {
    max-width: 400px;
    width: 100%;
    background-color: var(--card-bg);
    border-radius: var(--radius) * 1.5;
    box-shadow: var(--shadow);
    padding: 15px 25px;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
}


body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-dark);
    line-height: 1.6;
    display: flex;    
    flex-direction: column;
    min-height: 100vh;     
    padding: 0; 
}


.data-card {
    background-color: #d32f2f;
    color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    margin-bottom:20px ;
}
footer {
text-align: center;
}